// $main-colour: $blue;
// $main-colour: $m-red;
// $main-colour: $m-orange;
// $main-colour: $green;
$main-colour: $turquoise;

body
{
	background: $white;
	// background: $cream;
	color: 		$dark-grey;
}

h1, h2, h3, h4, h5, h6
{
	color: $black;
}

pre, code, kbd, tt, var
{
	background: rgba($main-colour, 0.1);
}
pre code
{
	background: transparent;
}	

a
{
	color: $main-colour;

	&:visited,
	&:hover,
	&:focus,
	&:active 
	{
		color: $main-colour;
	}
}

.entry-title a
{
	color: $black;

	&:hover
	{
		color: $main-colour;
	}
}

.site-title a,
.main-navigation a,
{
	color: $main-colour;

	&:hover
	{
		color: $black;
		text-decoration: none;
	}
}

#menu-social li a::before 
{
	color: $grey;
}
#menu-social li a:hover::before 
{
	color: $main-colour;	
}	

blockquote 
{
	border-color: $main-colour;
}

.site-description
{
	color: $dark-grey;
}
.site-description,
.entry-meta, .entry-meta a
{
	color: $grey;
}

.blog, .archive, .search
{
	article
	{
		border-bottom: solid 1px $grey;
		border-bottom: solid 1px $pale-grey;
	}	
} 

@media only screen and (max-width: 1200px) 
{
	.site-header
	{
		border-bottom: solid 1px $pale-grey;
	}
	.site-navigation
	{
		// border-bottom: solid 1px $pale-grey;
	}
}


input[type=text],
input[type=password],
input[type=email],
textarea 
{
	border: 1px solid $grey;
	border: 1px solid $pale-grey;
	color: $black;

	&:focus
	{

	}
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] 
{
	// border-color: $pale-grey;
	background: $main-colour;
	// background: -moz-linear-gradient(top, #57ad68 60%, #57ad68 100%); /* FF3.6+ */
	// background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, #57ad68), color-stop(100%, #57ad68)); /* Chrome,Safari4+ */
	// background: -webkit-linear-gradient(top, #57ad68 60%, #57ad68 100%); /* Chrome10+,Safari5.1+ */
	// background: -o-linear-gradient(top, #57ad68 60%, #57ad68 100%); /* Opera 11.10+ */
	// background: -ms-linear-gradient(top, #57ad68 60%, #57ad68 100%); /* IE10+ */
	// background: linear-gradient(top, #57ad68 60%, #57ad68 100%); /* W3C */
	color: $white;
}

button:hover,
html input[type="button"]:hover,
input[type="reset"]:hover,
input[type="submit"]:hover 
{
	background: darken($main-colour, 5%);
}

button:focus,
html input[type="button"]:focus,
input[type="reset"]:focus,
input[type="submit"]:focus,
button:active,
html input[type="button"]:active,
input[type="reset"]:active,
input[type="submit"]:active 
{
	box-shadow: inset 0 2px 3px rgba(0, 0, 0, .15);
}