$unit: 18px;

// COLOURS
$cream:					rgb(255,	255, 	253);
$white: 				rgb(250, 	250, 	250); 
$black: 				rgb(53, 	53, 	53);
// $pale-blue: 			rgb(223,	223,	253);
$grey: 					rgb(183, 	183, 	183);
$pale-grey: 			rgb(223, 	223, 	223);
$dark-grey: 			rgb(83, 	83, 	83);

	// from baddeo.com v1
	$b-green: 			#7fbf42;
	$dark-green: 		#00733f;
	$blue: 				#0095D7;
	$twitter-blue: 		#55acee;
	$dark-blue: 		#00334c;
	$pale-yellow: 		#fdeeca;
	$purple: 			#52283b;
	$orange: 			#ff8036;
	$ochre: 			#a55c43;

	// from themanual.org
	$m-orange:			#ed9c31;
	$m-blue:			#51b9e0;
	$m-red:				#ed3d45;
	
	// new colours
	$green: 			#27D42C;
	$turquoise: 		rgb(0, 223, 183);
